@import '../../styles/variables.scss';


.sidebar {
  border-right: 1px solid $grey-light;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: $sidebar-width;

  &--logo {
    display: flex;
    justify-content: center;

    i {
      width: 30%;
      margin-top: 40px;
    }
  }

  &--nav {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
}
