@import '../../styles/variables.scss';


.sidebar-link {
  display: flex;
  justify-content: center;
  margin-bottom: $space*3;
  position: relative;
  width: 100%;

  &--icon svg {
    height: $space*1.5;
  }

  & .active {
    &:before {
      background-color: $blue;
      border-radius: 0 5px 5px 0;
      box-shadow: 1px 2px 12px $blue-shadow;
      content: '';
      display: block;
      height: 40px;
      left: 0;
      position: absolute;
      top: -8px;
      width: 5px;
    }
  }
}
